.game-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.log-area {
    width: 300px;
    height: 200px;
    resize: none;
}

.game-button {
    width: 100px;
    height: 40px;
    background-color: #e4ff81;
    border: 1px solid #000000;
    border-radius: 25px;
}

.control-buttons {
    width:fit-content;
}